@{
    ViewData["Title"] = "Greet";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Greet</h1>
    <p>@ViewBag.Message</p>
</body>
</html>
